@model About

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <input asp-for="Degree" class="form-control" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareerLevel" class="control-label"></label>
                <input asp-for="CareerLevel" class="form-control" />
                <span asp-validation-for="CareerLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FacebookLink" class="control-label"></label>
                <input asp-for="FacebookLink" class="form-control" />
                <span asp-validation-for="FacebookLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterLink" class="control-label"></label>
                <input asp-for="TwitterLink" class="form-control" />
                <span asp-validation-for="TwitterLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedinLink" class="control-label"></label>
                <input asp-for="LinkedinLink" class="form-control" />
                <span asp-validation-for="LinkedinLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitHubLink" class="control-label"></label>
                <input asp-for="GitHubLink" class="form-control" />
                <span asp-validation-for="GitHubLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YoutubeLink" class="control-label"></label>
                <input asp-for="YoutubeLink" class="form-control" />
                <span asp-validation-for="YoutubeLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <textarea asp-for="LongDescription" class="form-control" id="editor"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>

            @{
                int i = 0;
            }
            <b>Services</b>
            @foreach (var item in Model.Services)
            {
                <div class="form-group">
                    <label for="Items[@i].Text" class="control-label">Service Name</label>
                    <input name="Items[@i].Text" id="Items[@i].Text" class="form-control" value="@item.Text" />
                    <input type="hidden" name="Items[@i].Id" value="@item.Id" />
                </div>

                <div class="form-group">
                    <label for="Items[@i].Description" class="control-label">Service Description</label>
                    <textarea name="Items[@i].Description" id="Items[@i].Description" class="form-control">@item.Description</textarea>
                    <input type="hidden" name="Items[@i].Id" value="@item.Id" />
                </div>

                <div class="form-group">
                    <input type="hidden" id="select" value="" name="select" />
                </div>

                i++;

            }



            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section addcss{
    <link rel="stylesheet" type="text/css" href="~/custom-select/customSelect.jquery.css">
}

    @section addjs{
    @*CK editor*@
    <script src="https://cdn.ckeditor.com/ckeditor5/35.2.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="~/custom-select/customSelect.jquery.js"></script>
    <script type="text/javascript">
        console.log($("[name^='select']"));
        $("[name^='select']").customSelect({
            identifier: 'demo',
            selector: `[name^='select']`,
            placeholder: 'Select your country',
            options: [
                ['ct', 'ct.png', 'Catalonia'],
                ['es', 'es.png', 'Spain'],
                ['gb', 'gb.png', 'Great Britain'],
                ['de', 'de.png', 'Germany'],
                ['it', 'it.png', 'Italy'],
                ['fi', 'fi.png', 'Finland'],
                ['fr', 'fr.png', 'France']
            ],
            template: "<div class='jqcs_option' data-select-value='$0' style='background-image:url(example_icons/$1);'>$2</div>"
        });
    </script>

}